/* Write your CSS here */
.appointment-item {
  height: 80px;
  width: 200px;
  border: 2px solid #b5b7c4;
  border-radius: 20px;
  padding: 5px;
}
.title-star-container {
  display: flex;
  justify-content: space-between;
}
.date-tag {
  color: #b5b7c4;
}
