/* Write your CSS here */
.bg-container1 {
  height: 100vh;
  background-image: linear-gradient(#fbc7d4, #9796f0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-container2 {
  width: 90%;
  padding: 50px;
  background-color: aliceblue;
}
.bg-container3 {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #b5b7c4;
  padding-bottom: 5px;
}
.form-content {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
}
.submit-button {
  background-color: #8b5cf6;
  color: azure;
  padding: 5px;
  border-radius: 3px;
  border: none;
}
.appointment-img {
  height: 200px;
  width: 300px;
}
.appointments-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.colored-star {
  color: aliceblue;
  font-weight: 600;
  background-color: #8b5cf6;
  padding: 5px;
  border-radius: 10px;
  border: none;
}
.normal-star {
  padding: 5px;
  border-radius: 10px;
  color: #8b5cf6;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid #8b5cf6;
}
.appointment-heading-stared {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
